body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background: #e2e1e0;
    padding: 10px;
    display: flex;
}

.tela {
    width: 800px;
    height: 640;
    /* background: linear-gradient(to right, rgb(110, 51, 51), rgb(249, 249, 249)); */
    display: flex;
}

.coluna{
    width: 20%;
    margin: 5px;
    padding: 5px;
    /* background-color: #fff; */
    /* background-color: #403A3A; */
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card {
    width: 90%;
    height: 100px;
    /* background-color: #000; */
    /* color: #fff; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: #fff;
    border-radius: 2px;
}
.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ******** check box *********** */
.checkbox__label:before {
    content: ' ';
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
  }
  
  /* Faux checkbox: we can not style input[checkbox] directly */
  
  .checkbox__label:after {
    content: ' ';
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    border: .25rem solid #48440E;
    border-radius: 50%;
    transition: 200ms;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;  
  }
  
  /* **** Animation **** */
  .checkbox__label:after {
    transition: 100ms ease-in-out;
  }
  
  /* Look after animation finishes
     -----------------------------
  */
  
  .checkbox__input:checked ~ .checkbox__label:after {
    border-top-style: none; 
    border-right-style: none;
    -ms-transform: rotate(-45deg); /* IE9 */
    transform: rotate(-45deg);
    height: 0.85rem;
    /* border-color: green; */
    background: rgb(124, 95, 95); 
  }
  
  .old-ie .checkbox__label:before,
  .old-ie .checkbox__label:after {
    display: none;
  }
  
  /* Not so important:
     -----------------
  */
  
  .checkbox {
    position: relative;    
    font-size: 4em;
    display: flex;
    font-family: 'Roboto Condensed', serif;
    letter-spacing: -.05em;
    cursor: pointer;
    /* Mobile Safari: */
    -webkit-tap-highlight-color: rgba(0,0,0,0);   
  }
  
  .checkbox__label:after:hover,
  .checkbox__label:after:active {
     border-color: green; 
  }  
  
  .checkbox__label {
    margin-left: 0.65rem;
    margin-top: 2.5rem;
    line-height: .75;  
  }